

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap');
body{
	font-family: 'Open Sans', sans-serif;
	color: #333C43;
	font-size: 18px;
line-height: 21px;
height: 100vh;
}
body.open{
	overflow:hidden;
}
.site{
	min-width: 320px;
	display: flex;
    flex-direction: column;
    min-height: 100%;
}
.container{
	max-width: 1145px;
	min-width: 300px;
/*	box-sizing: border-box;*/
	padding-left:10px;
	padding-right:10px;
	margin:0 auto;

}
.container--payment {
    max-width: 437px;
    min-width: 300px;
    /* box-sizing: border-box; */
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    }
@media(max-width: 768px){
.container, .container--payment{

	padding-left:24px;
	padding-right:24px;


}
}
@media(max-width: 426px){
.container, .container--payment{

	padding-left:10px;
	padding-right:10px;


}
}
.garamond-font-logo{
font-family: 'EB Garamond', serif;
}
.montserrat-font{
font-family: 'Montserrat', sans-serif;	
}
 .wrapper{

padding-top:50px;
padding-bottom:50px;
 }

 .main-title{

font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 120%;
text-align: center;
margin-bottom: 50px
 }
@media(max-width: 426px){
 .wrapper{
padding-top:46px;
padding-bottom:46px;
 }
  .main-title{
  	font-size: 24px;
  }	
}
  .main-title.main-title--orange{
  color: #9F3500;
  }
   .main-title.main-title--white{
 	color: #fff
 }
 .btn__wrapper{
 	text-align: center;
 	width:100%;
 	margin-top:50px;
 }
 .btn{
 	display: inline-block;
 	border-radius: 6px;
 	padding:16px 49px 15px;
 	color:#fff;
 	font-weight: bold;
font-size: 16px;
line-height: 100%;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
text-align: center;
border: 2px solid #DD723B;
-webkit-transition: .5s;
-o-transition: .5s;
transition: .5s;
-webkit-box-sizing:border-box;
        box-sizing:border-box;
text-decoration: none;
text-transform:uppercase;
 }
 .btn.btn--dark-orange{
 	background: #DD723B;
 }
 .btn.btn--yellow{
 background: #FFB433;

}

.btn:hover{
	background: rgba(255, 180, 51, 0.2);
	color: #9F3500;
	border: 2px solid #9F3500;
}
.btn.btn--orange{
	background: #FFB433;
		border: none;
		text-transform: none	
}
.btn.btn--orange:hover{
	background: rgba(255, 180, 51, 0.2);
	color: #9F3500;

}
.main{
	background-color: #E7D6B3;


}
.main__wrapper{
	background-image:url(../img/main-img.png);
		padding-top: 112px;
	padding-bottom: 117px;
	background-repeat: no-repeat;
	background-position:bottom 0 right 0;
	background-size: contain
}

.main__title{
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 130%;
color: #9F3500;
padding-bottom: 30px;
border-bottom:2px solid #DD723B;
margin-bottom: 43px;
display:inline-block;
}
.main__text{
font-weight: 500;
font-size: 20px;
line-height: 33px;
color: #333C43;
margin-bottom: 43px;
width:50%;
font-style: italic
}
@media(max-width: 1000px){
	.main__wrapper{
		padding-bottom: 411px;
		background-size: auto
	}
	.main__text{
		width:100%;
	}
}
@media(max-width: 720px){
	.main__wrapper{
		padding-top: 30px;
		padding-bottom: 300px;
		text-align:center;
		background-size: 400px;
			background-position:center bottom 0;
	}
/*	.main__text{
		text-align: left


	}*/
	.main__title{
		text-align:center;

	}
}
@media(max-width: 500px){
	.main__wrapper{
		padding-top: 30px;
		padding-bottom: 258px;
		text-align:center;
		background-size: 300px;
			background-position:center bottom 0;
	}
	.main__text{

		font-size: 18px;
line-height: 23px;
margin-bottom: 14px

	}
	.main__title{

		font-size: 30px;
line-height: 110%;
padding-bottom: 15px;
margin-bottom:16px;
	}
}
.site-header{
    position: -webkit-sticky;
    position: sticky;
    z-index: 2000;
    top: 0;
    width: 100%;
 background: #FFFFFF;


}
 .menu{
 	padding-top:10px;
 	padding-bottom: 10px;
 	display:-webkit-box;
 	display:-ms-flexbox;
 	display:flex;
 	-webkit-box-align:center;
 	    -ms-flex-align:center;
 	        align-items:center;
 }
 .logo-wrapper{
margin-right:15px;
 }
 @media(max-width: 665px){
 	.logo-name{
 		display:none;
 	}
 }
.logo-name__up{

font-weight: 600;
font-size: 30px;
line-height: 39px;	
border-bottom:1px solid #9F3500;
text-transform: uppercase;
}
.logo-name__down{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-pack:justify;
    -ms-flex-pack:justify;
        justify-content:space-between;
font-size: 20px;
line-height: 26px;
text-transform: uppercase;

}
.logo-name__down .orange-color{
	color: #9F3500
}
.menu__contacts{
margin-left:auto;
}
.menu__contacts a{
	display: block;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s

}
.menu__phone{
	font-weight: 600;
font-size: 30px;
line-height: 39px;
text-transform: uppercase;
text-decoration:none;
color: #333C43;
text-align: right;
}
.menu__phone:hover{

color: #9F3500;	
}
.menu__mail{
display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #9F3500;
}
.menu__mail:hover{
	text-decoration:none;
}
.menu-toggle{
margin-left: auto;
display: none
}
@media(max-width: 900px){
	.menu__contacts{
		display:none;
		left: 0;
    top: 110px;

    position: fixed;
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding-top: 82px;
    text-align: center;
	}
	.menu__phone {

    text-align:center;
}
	.menu-toggle{
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center
	}
	.menu-toggle__close{
display:none;
	}

	.menu-toggle.open 	.menu-toggle__close{
display:block;
	}
	.menu-toggle.open 	.menu-toggle__burger{
display:none;
	}
		.menu__contacts.open {
		display:block;
	}
}
		.logo-mobile{
		display:none;
	}
@media(max-width: 426px){
	.logo-desktop{
		display:none;
	}
		.logo-mobile{
		display:block;
	}
	.menu{
		padding-top: 0;
		padding-bottom: 0
	}
		.menu__contacts{

    top: 80px;
}
}
.stat{
	background-color: #fff;
	background-image: url(../img/img-1.png);
	background-repeat: no-repeat;
	background-position: center 
}

.stat__wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top:30px;
	padding-bottom: 30px
}
.stat-block{
	width:calc(100%/3);
	text-align: center
}
.stat-block__numb{
font-weight: bold;
font-size: 48px;
line-height: 59px;
color: #FFB433;
margin-bottom: 7px
}
.stat-block__text{
font-size: 18px;
line-height: 110%;
text-transform: uppercase;
color: #333C43;
font-weight: normal;
}
.stat-block__text.stat-block__text--orange{
color:#9F3500
}
@media(max-width: 768px){
.stat{
background-size:cover;
}

}

@media(max-width: 650px){
.stat__wrapper{
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
}
.stat{
	background-image: url(../img/pay-img.png);
	background-size:cover;
		background-position: center bottom 0
}
.stat-block{
	width:100%;
	margin-bottom:11px;
}
.stat-block:last-child{
	margin-bottom:0;
}	
}
.history{
background: #FFB433;
}

.history__wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap
}
.history__block{
	width:31%;
	background-color: #fff;
	padding:26px 40px 30px;
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;
	border-radius: 30px 0 30px;

}
.history__block-title{
font-weight: bold;
font-size: 24px;
line-height: 29px;
text-transform: uppercase;

color: #9F3500;
height:98px;
border-bottom: 2px solid #EC9801;
margin-bottom: 17px
}
@media(max-width: 1042px){
.history__block{
	width:61%;
	margin-bottom:46px;
}
.history__wrapper div:last-child{
	margin-top:0;
}
.history__wrapper{
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
}
.history__block-title{
	height: auto;
	padding-bottom:15px;
}
}
@media(max-width:500px) {
.history__block{
	width:100%;

}
}
.video{
background: #E7D6B3;
text-align:center;
}

@media(max-width: 800px){
.thumb-wrap {
  position: relative;
  padding-bottom: 55%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  height: 0;
  overflow: hidden;
}
.thumb-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}
}

footer{
margin-top:auto;
}

.footer{
	background-color: #fff;
	padding-top:40px;
	padding-bottom:40px;
}
.footer__up{
	padding-bottom: 25px;
	margin-bottom: 32px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack:justify;
	    -ms-flex-pack:justify;
	        justify-content:space-between;

border-bottom: 2px solid #FFEFE7;
}
.footer__block{
	width:23%;
}
@media(max-width: 970px){
.footer__block{
	width:30%;
}

}
@media(max-width: 810px){
.footer__up{
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
		-webkit-box-align:center;
		    -ms-flex-align:center;
		        align-items:center;
}
.footer__block{
	width:69%;
	text-align:center;
	margin-bottom:40px;
}
.footer__dop{
	margin-bottom:0;
}
}
.footer-title{
	font-weight: 500;
font-size: 14px;
line-height: 16px;
text-align:center;
color: #9F3500;
white-space: nowrap;
height:33px;
}
@media(max-width: 720px){
.footer-title{

text-align:center !important;
}
}
.footer-phone{
	font-weight: 600;
font-size: 30px;
line-height: 25px;
text-decoration:underline;
color: #333C43;
text-decoration:none;
margin-bottom: 10px;
display:block;
white-space: nowrap;
}
.footer-phone:hover{
	color: #9F3500;
}
.footer-mail{

display:block;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 20px;

color: #9F3500;
}
.footer-mail:hover{
text-decoration:none;
}

.footer__dop a{
text-align:right;
font-size: 14px;
line-height: 16px;
width:100%;
white-space: nowrap;
padding-left:0;
padding-right: 0;
text-align:center;
}
@media(max-width: 720px){
.footer__dop a{
	width: auto;
	padding-right: 49px;
    padding-left: 49px;
}
}

.footer__social-wrapper{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-ms-flex-pack:distribute;
    justify-content:space-around;
margin-top: 8px;
}
@media(max-width: 426px){
.footer__social-wrapper{

-webkit-box-pack:justify;

    -ms-flex-pack:justify;

        justify-content:space-between;

}
.footer-phone{

font-size: 24px;
line-height: 25px;


}
.footer__dop a{
	width: 100%;
	padding-right: 0;
    padding-left: 0;
}
}
.footer__social-wrapper a{
	display:block;
	transition: .4s
}
/*.footer__social-wrapper a:hover{
	opacity: .5
}*/
@media(max-width: 375px){
	.footer__block{
	width:90%;

}
}
.footer__down{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-pack:justify;
    -ms-flex-pack:justify;
        justify-content:space-between;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;

color: #333C43;
}

.footer__down a{
color: #333C43;	
}


.footer__down a:hover{
color: #9F3500;
}

@media(max-width: 426px){
.footer__down{
-webkit-box-orient:vertical;
-webkit-box-direction:normal;
    -ms-flex-direction:column;
        flex-direction:column;	
-webkit-box-align: center;	
    -ms-flex-align: center;	
        align-items: center;
}
.footer-copyright{
margin-bottom:30px;
}
}


.pay{
background-color: #DD723B;
padding: 80px 0;
background-image: url(../img/pay-img.png);
background-repeat: no-repeat;
background-position: center bottom 0;

}
.pay .main-title{
color: #151414;
font-size: 32px;
margin-bottom: 25px
}
@media(max-width: 426px){
.pay .main-title{

font-size: 24px;	
}
}
.btn__wrapper{
margin-top: 35px
}

.pay__wrapper{
padding:40px 10px;	
background-color: rgba(109, 88, 88, .3);
}
.pay-text{
color: #151414;
font-size: 20px;
line-height: 120%;
text-align: center;
color: #151414;
}
@media(max-width: 426px){
.pay-text{
font-size: 18px;
}	
}
#bx_form_iframe_8{
	height:860px !important;
	display:block;
	padding-top: 80px !important;
}
@media(max-width: 375px){
	#bx_form_iframe_8{

		padding-bottom:  20px !important;
	}
}
.widget .page-theme-image {
 	display:flex !important;
 	align-items: center !important;
 	background-position-x:center  !important;
 	background-size: contain;
 	background-repeat: no-repeat
 }

#bx_form_iframe_8 .flexible-middle-width .content-wrap{
margin-top: 20px
 }

 .thanks{
	height: calc(100vh - 360px);
	background:url(../img/logo-thnx.png),
	 linear-gradient(180deg, #E7D6B3 0%, #FFFFFF 100%);
background-repeat: no-repeat;
background-position:bottom 0 left 50%;
background-size: contain
}
@media(max-width: 720px){
 .thanks{
	height:auto;
	background-size: cover
	}	
}
.thanks-wrapper {
	position: relative;
	height: 100%
}

.thanks__text{
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 120%;

text-align: center;

color: #9F3500;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
position: absolute;
top:50%;
left:50%;
transform: translate(-50%, -50%)
}

.thanks__btn {
position: absolute;
bottom:15px;
left:50%;
transform: translateX( -50%);
padding-left: 60px;
padding-right: 60px
}
.thanks__btn {
border: 2px solid #FFB433;
    text-transform: none;
        font-size: 14px;
    line-height: 16px;
}
@media(max-width: 720px){
.thanks__text{
	top:0%;
left:0%;
transform: translate(0);
	position: relative;
	padding-top: 100px;
	padding-bottom:100px;
}
.thanks__btn {
position: relative;	
}	
}

.footer__social-wrapper a:hover path {
  fill: #9F3500;
}

.subtitle{
	text-align: center;
	color: #9F3500;
	margin-bottom: 50px;
	font-size: 36px;
	font-weight: 600;
	line-height: 120%

}
@media(max-width: 768px){
.subtitle{
	font-size: 30px;
	font-weight: 400

}	
}
.promo-text{
	background: #E7D6B3;
}
.promo-text__subtitle{
width:74%;
margin-left: auto;
margin-bottom: 50px;
}
@media(max-width: 426px){
	.promo-text__subtitle{
		width:100%;
	}
}
.promo-text__top{
font-family: 'Montserrat', sans-serif;
font-style: italic;
font-weight: bold;
font-size: 30px;
line-height: 100%;
color: #DD723B;
margin-bottom: 10px;
}

.promo-text__bottom{
font-style: italic;
font-weight: normal;
font-size: 22px;
line-height: 120%;
color: #9F3500;
}


.promo-text__main{
font-size: 30px;
line-height: 140%;
color: #333C43;	
}
.vacancy .history__block a{
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
text-transform: uppercase;

color: #9F3500;
text-decoration: none
}

.vacancies{
	background: #E7D6B3;
}
.vacancies__title{
	font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 100%;
color: #9F3500;
margin-bottom: 40px;
}

.vacancies__block-title{
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 44px;

color: #333C43;
margin-bottom:23px;
}
.vacancies__block-subtitle{
font-size: 24px;
line-height: 33px;
margin-bottom: 14px;

text-transform: uppercase;

color: #DD723B;

}
.vacancies__block-list{
	margin:0 0 30px 0;
	padding:0;
	list-style:none;
}
.vacancies__block-list li{
font-size: 24px;
line-height: 125%;

color: #333C43;
position: relative;
padding-left: 20px
}

.vacancies__block-list li:before{
content: '';
position: absolute;
display:inline-block;
width:5px;
height: 5px;
background-color: #333C43;
border-radius:100%;
left:0;
top:12px;
}

.vacancies__block{
	margin-bottom: 40px
}

.volonters .main-title{
font-weight: 400;
font-size: 36px;
line-height: 100%;
/* or 36px */

text-align: center;

color: #FFFFFF;
}

.volonters .pay-text{
	margin-top:35px;
	font-size: 24px;
line-height: 33px;
text-align: center;

color: #333C43;
}

