body {
margin:0;
padding:0;

font-family:"PT Sans", sans-serif;	
font-size:14px;
line-height:21px;
color:#000000;
text-transform:uppercase;

background-color: #f2f2f2;
}
@font-face{font-family:"PT Sans";
src:url("fonts/ptsans.woff2"),
 format("woff2"), url("fonts/ptsans.woff") format("woff")}

 @font-face{font-family:"PT Sans Bold";src:url("fonts/ptsansbold.woff2") 
 format("woff2"), url("fonts/ptsansbold.woff") format("woff")}


a{
text-decoration:none;
}
img {
  max-width: 100%;
  height: auto;
}
.site-navigation,
.service-list,
 .footer-social ul,
 .reasons-list
 {
list-style:none;	
}
header{
padding:0;
margin:0;	

}


.container, .container-hotels{
width:1200px;
margin:0 auto;
text-align:center;
background-color:#ffffff;
box-shadow:0px 5px 15px 0px rgba(0, 1, 1, 0.2)
}
.container{
  position: relative;
}
.site-navigation {
padding-top:14px;
padding-bottom:10px;
display:flex;
line-height:26px;

}
.site-navigation li{
width:240px;	
}
nav li:nth-child(1){
padding-left:72px;
text-align:left
}
nav li:nth-child(2){
margin-right:240px;
text-align:center;
}
nav li:nth-child(4){
padding-right:72px;
text-align:right;

}

ul{
padding:0;
margin:0;
}
.logo{
margin-left:-69px;
position:absolute;
left:50%;
top:0px;
z-index:50;
}


 
.site-navigation a{
color:#333333;
font-weight:700;
}



.intro{
background-color: #365168;
background-image: url("img/background photo.jpg"), url("img/white-stripe.png");
background-position:top 0 left 0, bottom 0 left 0;
background-repeat: no-repeat no-repeat;
padding-top:81px;
background-size: 1200px 509px, 1200px 57px;
/*background-size:cover;*/
min-height:509px;
box-sizing:border-box;	
position: relative; 
}
.intro:after{
  content:'';
  display: block;
  width: 1200px;
  height: 57px;
position:absolute;
background-image:  url("img/white-stripe.png");
background-position: ;
bottom: -1px;
background-repeat: no-repeat;
background-size:1200px 57px;
}
.intro img{
	
width:458px;
height:352px;
}


.main-info{
text-align:center;
}
.main-info h1{
font-size:21px;
line-height:26px;
font-weight:bold;
color:#000000;
margin:0;
margin-top:60px;
margin-bottom:30px;
}
.main-info p{
font-size:14px;
line-height:26px;	
margin:0;
padding:0;
margin-bottom:55px;

}
/* наведение */
.site-navigation a:hover {
color:#81b3d2;	
}
.site-navigation a:focus{
color: rgba(0, 0, 0, 0.3)	
}
.visually-hidden:not(:focus):not(:active){
position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
overflow: hidden;	
}
.reasons-list{
display:flex;	
flex-wrap:wrap;	
}

.reasons-list li {
display:flex;
flex-wrap:wrap;	

}
.reasons-first,
.reasons-second{
display:flex;
width:1200px;
	
}


.first-reason-text,
.second-reason-text{
width: 400px;

background-color:#81b3d2;
text-align: center;
color: rgb(255, 255, 255);

}


.first-reason-text h3,
.second-reason-text h3{
margin:0;
padding:0;
font-size:21px;
line-height:21px;
padding-top:50px;
padding-bottom:30px;
}
.first-reason-text p,
.second-reason-text p
{
padding:0;
margin:0;
padding-left: 20px;
font-size:14px;
line-height:21px;
padding-top:30px;
margin-bottom:33px;

}
.first-reason-img,
.second-reason-img{
width:800px; 
height:256px;	
}
.reasons-first{
order:0;	
}
.reasons-list li:nth-child(6){
order:1;	
}
.reasons-list li:nth-child(7){
order:2;	
}
.reasons-list li:nth-child(8){
order:3;	
}
.reasons-second{
order:4;
}
.reasons-list li:nth-child(3){
order:5;	
}
.reasons-list li:nth-child(4){
order:6;
}
.reasons-list li:nth-child(5){
order:7;
}
.reasons-list li:nth-child(6),
.reasons-list li:nth-child(7),	
.reasons-list li:nth-child(8){
width:400px;
margin:0;
padding:0;

}
.service-item{
margin:60px 0;	
	
}
.service-item img{
 width:75px;	
height:72px;
}
.service-item h3 {
padding:0;
margin:30px 0;	
font-size:21px;
line-height:21px;
}
.service-item p{
font-size:14px;
line-height:21px;	
margin:0;
padding:0 50px;	
}
.reasons-list li:nth-child(3),
.reasons-list li:nth-child(4),
.reasons-list li:nth-child(5){
width: 400px;	
text-align: center;
background-color:#eeeeee;

}
.reasons-item-text{
margin:0;
padding:0;
padding-top:1px;
width: 400px;	
}


.reasons-item-text h3 {
margin:0;
padding:0;
font-size:21px;
line-height:21px;
padding:50px 0 30px;

}
.reasons-item-text p{
margin:0;
padding:30px 62px 30px 62px;	
margin-bottom:30px;	
}
.interesting{
min-height:293px;

}
.interesting-text{
padding-top:39px;
padding-left:382px;
padding-right:382px;
box-sizing:border-box;	
margin-bottom:51px;
}
.interesting h2 {
font-size:30px;	
line-height:24px;
color:black;	
}

.main-button{
display:flex;	
justify-content:center;
align-items:flex-start;
padding-bottom:0px;
}
.button{
font:inherit;
text-align:center;
color: #ffffff;	
border:none;	
text-transform:uppercase;
background-color:#766357;	
font-size:21px;
width:576px;
height:87px;
box-sizing:border-box;
line-height:26px;
padding:10px;
text-align: center;
text-decoration:none;
}
.button:hover{
background-color:#604e43;
}

.button:active{
background-color:#503e33;
color: rgba(255, 255, 255, 0.3);	
}
.map{
color:black;
background-color:rgb(255, 255, 255);
background:url("img/map.jpg");	
}
.map input{
font:inherit;
background-color:#f2f2f2;	
border:none;
color:#000000;
font-size:14px;
font-weight:bold;
}
.map label{
color:#000000;
font-size:14px;
font-weight:bold;		
}
.map input:focus{
background-color:rgb(255, 255, 255);
border-color:#f2f2f2;	
}
input[type=submit]{

color:rgb(255, 255, 255);
background-color:#81b3d2;
}
input[type=submit]:hover{
background-color:#669ec0;
}
input[type=submit]:active{
background-color:#5496bd;
color:rgba(255, 255, 255, 0.3);
border:none;
}
.wrapper{
	background-color:white;
width:576px;	
margin:0 auto;
box-sizing:border-box;
margin-bottom:;
}
.travel-form{
	color:black;
display:flex;	
flex-wrap:wrap;
flex-direction:row;

padding:55px;
box-sizing:border-box;	
}
.in-row,
.out-row
{
margin:0;
padding:0;
text-align:left;	
margin-bottom:30px;
position:relative;	
}
.adults,
.kids{
position:relative;	
margin:0;
padding:0;
	
}

.travel-form .in-row label,
.travel-form .out-row label {
display:inline-block;	
width:113px;
font-size:14px;
line-height:26px;

}
.travel-form .in-row input,
.travel-form .out-row input{
box-sizing:border-box;

width:345px;	
padding:12px;
padding-right:40px;
font-size:14px;
line-height:26px;
text-transform:uppercase;
}
.travel-form .in-row .icon-calendar,
.travel-form .out-row .icon-calendar{
	position:absolute;
	right:20px;
	top:13px;

}



.icon-calendar path{
fill:#a9a9a9;
}

.icon-calendar:hover path{
fill:black;	
}

.icon-calendar:active path{
fill:#81b3d2;	
}
.travel-form .kids label,
.travel-form .adults label {
display:inline-block;
width:100px;
margin:0;
padding:0;
font-size:14px;
line-height:26px;
position:relative;

}
.travel-form .adults label{
margin-right:15px;	
text-align:left;
}
.travel-form .kids label{
margin-left:15px;
	
}
.travel-form .kids input,
.travel-form .adults input{
box-sizing:border-box;
width:112px;	
padding:12px 40px;
text-align:center;
margin:0;
font-size:14px;
	line-height:26px;
	text-transform:uppercase;

}


input[type=submit]{
	display:block;
	width:100%;
	margin-top:55px;
	padding:17px 0;
	font-size:21px;
	line-height:26px;
	font-weight:bold;
	
	text-transform:uppercase;
}
.option-form{
background:url("img/sedona-hotels-background.jpg");
background-color:#896c68;
min-height:px;

}
.option-form form{
display:flex;	
width:1056px;
margin-left:72px;
margin-right:72px;
}


.infrastructure ul{
list-style:none;
margin:0;
padding:0;		
}

.infrastructure{
width:313px;

box-sizing:border-box;
text-align:left;
font-size:14px;
line-height:21px;
color:#ffffff;
font-family:"PT Sans", Arial, sans-serif;	
}
.infrastructure h2{
font-size:16px;
margin:0;	
margin:30px 0px;	
}
.infrastructure li{
	margin:25px 0px;
	padding-left:40px;
}
.house-type
{
    box-sizing: border-box;
    width: 288px;
    margin: 0;
    padding-left: 15px;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-align: left;

    color: #fff;
}


.house-type ul{
list-style:none;
margin:0;
padding:0;		
}
.house-type h2{
margin:30px 0px;
font-size:16px;		
}

.house-type li{
margin:25px 0px;
padding-left:40px;	
}
input[type="checkbox"] {
  display: none;
  
}
input[type="checkbox"]+label{
	position:relative;
}
input[type="checkbox"]+label::after {
  content: '';
  position:absolute;
  display:inline-block;
  width:21px;
  height:21px;
  border:2px solid white;
  vertical-align:middle;
  margin-right:18px;
  border-radius:2px;
  
left:-40px;

}
input[type="checkbox"]:checked + label::before{
content: '';
position:absolute;
width:8px;
height:18px;
border-right:4px solid white;
border-bottom:4px solid white;
transform:rotate(45deg);
left:-30px;
top:-7px;
z-index:1;
}
/* Форма стоимость в сутки */
.filter-range {
 width: 330px;
 margin:30px 0px;
margin-left:auto;
 color: #ffffff;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}
.price-controls {
  position: relative;
  
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}
.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}
.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}
.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}
.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}
.range-controls {
  position: relative;

  margin-bottom: 32px;
}
.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  background: #1c4f80;
}
.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}
.result{
width:1200px;
display:flex;
vertical-align:top;
box-sizing:border-box;
text-align:left;
background:#ffffff;
padding:30px 72px;
color:#000000;
border-bottom:1px solid #d5d5d5;
}

.amount-found,
.result-sort{
font-size:14px;
}


.amount-found{
width:165px;
display:inline-block;
vertical-align:top;
box-sizing:border-box
}


.amount-found h3{
margin:0;
font-size:21px;
line-height:26px
}
.result-sort{
width:780px;
display:inline-block;
vertical-align:middle;
box-sizing:border-box;
text-align:left;
font-size:12px;
line-height:18px;
padding-top:7px;
}
.result-sort span,
.result-sort ul{
display:inline;
}

.result-sort ul{
padding-left:37px;
}
.result-sort li{
display:inline-block;
vertical-align:top;
margin-right:30px;
}
.result-sort a{
color:#cacaca;
border-bottom:1px dotted #81b3d2
}
.active-sort a{
color:#81b3d2;
border-bottom:none
}


.result-sort a:hover{
color:#81b3d2

}
.result-sort a:active{
color:#000000;
border-bottom:none
}
.up-down-sort{
text-align:right;
width:110px;
padding:0;
box-sizing:border-box;
vertical-align:top;
font-size:23px;
line-height:20px
}
	
.result-item{
width:1200px;	
padding:30px 72px;	
text-align:left;
border-bottom:1px solid #d5d5d5;
box-sizing:border-box;
display:flex;
}
.info-btn,
.book-btn{
padding:5px 17px 5px 17px;

color:white;


}
.info-btn{
background-color:#81b3d2;
}
.info-btn:hover{
background-color:#669ec0;	
	
}
.info-btn:active{
background-color:#5496bd;
color:rgba(255, 255, 255, 0.3);
}
.book-btn{
background-color:#766357;
width:144px;
box-sizing:border-box;
}
.book-btn:hover{
background-color:#604e43	
	
}
.book-btn:active{
background-color:#503e33;
color:rgba(255, 255, 255, 0.3);
	
}
.result-img,
.result-info,
.result-rating{

vertical-align:top;
box-sizing:border-box
}


.result-img{
vertical-align:top;
box-sizing:border-box;
width:165px
}


.result-img img{
width:135px;
height:90px
}
.result-info{
display:flex;
flex-direction:column;
flex-wrap:no-wrap;
vertical-align:top;
box-sizing:border-box;
width:365px;
font-size:14px
}


.result-info h2 a{
font-size:21px;
line-height:26px;
color:#000000;	
}
.result-info h2 a:hover{
color:#81b3d2;		
}
.result-info h2 a:active{
color:rgba(0, 0, 0, 0.3);		
}

.result-info h2{
padding:0;	
vertical-align:top;	
margin-top:-5px;
margin-bottom:7px;
}
.result-info-detail{
display:flex;
flex-direction:column;	
width:110px;
margin-right:7px;
}
.result-info-detail span,
.result-info-book span
{
margin-bottom:16px;
}

.result-info-book{
display:flex;	
flex-direction:column;	
width:110px;
	
}
.result-wrapper{
display:flex;	
	
}
.result-rating{
width:240px;	
margin-left:auto;
text-align:right;
display:flex;
flex-direction:column;
}

.result-rating span{
display:block;
padding:3px 5px 3px 10px;
background-color:#f2f2f2;
font-size:14px;
line-height:21px;

margin-left:auto;
margin-top:auto;
box-sizing:border-box;
text-align: right;
}
.main-footer{
min-height:121px;
display:flex;
justify-content:space-around;	
align-items:center;

}
.footer-block{
flex-basis:400px;	
}
.visit-sedona a{
font-size:21px;
font-weight:bold;
color:#000000;
text-transform:uppercase;

}

.social-items{
display:flex;	
}
.social-button
{
  color: #ffffff;
  background-color:#81b3d2;
  width:50px;
  height:50px;
  box-sizing:border-box;	
   display:flex;
   justify-content:center;
  align-items:center;
  text-align: center;

}
.social-button1{
margin-left:125px;
margin-right:5px;	
}
.social-button3{
margin-left:5px;
margin-right:125px;	
}
.social-button:hover{
background-color:#669ec0;

}
.social-button:active{
background-color:#5496bd
}
.social:active{
opacity:0.3
}
.footer-copyright  {
display:flex;	
vertical-align:middle;
justify-content:center;
}
.footer-copyright b{
font-size:14px;
line-height:26px;	
color:black;
padding:7px;
vertical-align:middle;
}	