.header-logo {
  display: block;
  width: 86px;
  height: 35px;
}
.header-logo[href]:hover {
  opacity: 0.6;
}
.header-logo[href]:active {
  opacity: 0.3;
}
.header-logo__image {
  display: block;
  width: 86px;
  height: 35px;
}
